---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
---

<Layout pageTitle="Inicio">
	<div class="main-title">
		<h1>Your Journey to Coding Conf 2025 Starts Here!</h1>
		<p>Secure your spot at next year's biggest coding conference.</p>
	</div>

	<Form />
</Layout>

<script>
	import { throwErrorMessage } from "../utils/ThrowErrorMessage";

	const form = document.querySelector("form");
	form?.reset();

	form?.addEventListener("submit", (e) => {
		e.preventDefault();
		const data = Object.fromEntries(new FormData(form));
		validateInputFields(data);
	});

	const regex =
		"^[a-z0-9]+(.[_a-z0-9]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,15})$";

	let validateInputFields = ({ fullname, email, githubuser }: any) => {
		if (!fullname || fullname.trim() === "") {
			throwErrorMessage("Please enter your name!", "fullname");
		}
		if (!isValidEmail(email)) {
			throwErrorMessage("Please enter a valid email address", "email");
		}

		if (!githubuser || githubuser.trim() === "") {
			throwErrorMessage("Please enter your GitHub username", "githubuser");
			return;
		}
		return form?.submit();
	};

	const isValidEmail = (email: string): boolean => {
		let pattern = new RegExp(regex);

		if (!email || email.trim() === "") {
			return false;
		}
		if (!pattern.test(email)) {
			return false;
		}
		if (email.includes(" ")) {
			return false;
		}
		if (email.length < 5 || email.length > 254) {
			return false;
		}

		return true;
	};
</script>

<style>
	.main-title {
		text-wrap: balance;
		text-align: center;
		line-height: 1;
	}

	h1 {
		margin-bottom: 1rem;
	}

	p {
		font-size: 1.1rem;
		color: var(--neutral-300);
	}
</style>
