---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
---

<Layout pageTitle="Inicio">
	<div class="main-title">
		<h1>Your Journey to Coding Conf 2025 Starts Here!</h1>
		<p>Secure your spot at next year's biggest coding conference.</p>
	</div>

	<Form />
</Layout>

<script>
	import { validateInputFields } from "../utils/Validations";

	const form = document.querySelector("form");
	form?.reset();
	localStorage.removeItem("avatarImage");
	localStorage.removeItem("user-data");

	form?.addEventListener("submit", (e) => {
		e.preventDefault();
		const data = Object.fromEntries(new FormData(form));

		if (!validateInputFields(data)) {
			return;
		}

		localStorage.setItem("user-data", JSON.stringify(data));
		window.location.href = "/ticket";
		// return form.submit();
	});
</script>

<style>
	#routeticket {
		color: white;
	}

	.main-title {
		text-wrap: balance;
		text-align: center;
		line-height: 1;
	}

	h1 {
		margin-bottom: 1rem;
	}

	p {
		font-size: 1.1rem;
		color: var(--neutral-300);
	}
</style>
