---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
---

<Layout pageTitle="Inicio">
	<div class="main-title">
		<h1>Your Journey to Coding Conf 2025 Starts Here!</h1>
		<p>Secure your spot at next year's biggest coding conference.</p>
	</div>

	<Form />
</Layout>

<style>
	.main-title {
		text-wrap: balance;
		text-align: center;
		line-height: 1;
	}

	h1 {
		margin-bottom: 1rem;
	}
	
	p {
		font-size: 1.1rem;
		color: var(--neutral-300);
	}
</style>