---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>
    Congrats, <strong class="speaker-name speaker-name__accent"></strong>! Your
    ticket is ready.
  </h2>
  <p class="confirmation-paragraph">
    We've emailed your ticket to <em class="speaker-email speaker-email__accent"
    ></em> and will send updates in the run up to the event.
  </p>
  <div class="ticket">
    <img src="/assets/images/pattern-ticket.svg" class="ticket-bg" alt="" />
    <div class="wrap">
      <div class="event-info">
        <img src="/assets/images/logo-mark.svg" alt="" />
        <div>
          <h3>Coding Conf</h3>
          <p>Jan 31, 2025 / Austin, TX</p>
        </div>
      </div>
      <div class="speaker-info">
        <div class="avatar-mask">
          <img data-avatarImage alt="" />
        </div>
        <div>
          <p class="speaker-name"></p>
          <p class="speaker-github-username"></p>
        </div>
      </div>
      <p class="ticket-code"></p>
    </div>
  </div>
</Layout>

<script>
  let avatarImage = localStorage.getItem("avatarImage");
  let tCode = localStorage.getItem("tCode");

  const nameContent = document.querySelectorAll(".speaker-name");
  const emailContent = document.querySelector(".speaker-email") as HTMLElement;
  const githubUserContent = document.querySelector(
    ".speaker-github-username",
  ) as HTMLElement;
  const ticketCodeContent = document.querySelector(
    ".ticket-code",
  ) as HTMLElement;
  const avatarImgElement = document.querySelector(
    "[data-avatarImage]",
  ) as HTMLElement;

  const userDataString = localStorage.getItem("user-data");
  const data = userDataString ? JSON.parse(userDataString) : null;

  if (avatarImage) {
    avatarImgElement?.setAttribute("src", avatarImage);
  }

  const generateTicketCode = (): string => {
    const chars = "XYZ0123456789";
    let code = "";
    for (let i = 0; i < 5; i++) {
      code += chars.charAt(Math.floor(Math.random() * chars.length));
    }
    return code;
  };

  if (!tCode) {
    tCode = generateTicketCode();
    localStorage.setItem("tCode", tCode);
  }

  nameContent.forEach((el) => {
    el.textContent = data.fullname;
  });

  emailContent.textContent = data.email;
  githubUserContent.textContent = "@" + data.githubuser;
  ticketCodeContent.textContent = "#" + tCode;
</script>

<style>
  .ticket-bg {
    width: 100%;
    height: 100%;
    max-width: inherit;
    min-height: inherit;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    object-fit: contain;
  }

  h2 {
    font-size: 30px;
    text-align: center;
    line-height: 1;
  }

  .speaker-name__accent {
    background-image: linear-gradient(
      90deg,
      hsl(7, 86%, 67%),
      hsl(0, 0%, 100%)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .confirmation-paragraph {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 5%;
    letter-spacing: -0.5px;
    width: 45ch;
    margin-inline: auto;
  }

  .speaker-email__accent {
    font-style: normal;
    color: var(--orange-500);
  }

  .wrap {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 100%;
  }

  .ticket {
    margin-inline: auto;
    margin-top: 10%;
    z-index: 1;

    max-width: 600px;
    padding: 1.2em 1em;
    position: relative;
    height: 165px;
    max-height: 290px;

    /* outline: 2px solid red; */
  }

  .event-info {
    z-index: 5;
    position: relative;
    display: flex;
    align-items: start;
    gap: 12px;
    & img {
      width: 30px;
      margin-top: 5px;
    }

    & h3 {
      font-size: 24px;
      line-height: 1;
      letter-spacing: -1px;
    }

    & p {
      margin-top: 8px;
      font-size: 14px;
      color: var(--neutral-300);
    }
  }

  .speaker-info {
    z-index: 5;
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;

    & .avatar-mask {
      overflow: clip;
      border-radius: 12px;
    }

    .speaker-name {
      font-size: 20px;
      font-weight: 500;
      line-height: 0.8;
      letter-spacing: 1px;
    }

    .speaker-github-username {
      color: var(--neutral-300);
      line-height: 1;
      letter-spacing: 1px;
      font-size: 15px;
      position: relative;
    }

    .speaker-github-username::before {
      display: inline-block;
      content: url("/assets/images/icon-github.svg");
      position: relative;
      top: 5px;
      margin-right: 5px;
      left: 0;
    }

    img {
      width: 40px;
    }
  }

  .ticket-code {
    color: var(--neutral-500);
    position: absolute;
    top: 40%;
    transform: rotate(90deg);
    right: 0;
    z-index: 5;
  }

  /* this is so awful */

  @media (400px <= width <= 475px) {
    .wrap {
      gap: 1rem;
    }

    .ticket {
      height: 200px;
      padding: 1.5em 1.2em;
    }

    .event-info {
      & h3 {
        font-size: 28px;
      }

      & p {
        margin-top: 5px;
      }
    }

    .speaker-info {
      .speaker-name {
        font-size: 24px;
      }

      .speaker-github-username {
        font-size: 17px;
      }
    }
  }

  @media (476px <= width <= 546px) {
    .ticket {
      height: 240px;
    }

    .event-info {
      & h3 {
        font-size: 32px;
      }

      & p {
        font-size: 16px;
      }
    }

    .speaker-info {
      .speaker-name {
        font-size: 26px;
      }
      .speaker-github-username {
        font-size: 16px;
      }
    }
  }

  @media (547px <= width <= 764px) {
    h2 {
      font-size: 33px;
    }

    .confirmation-paragraph {
      font-size: 22px;
    }

    .ticket {
      height: 250px;
      padding: 0 2em;
    }

    .event-info {
      & h3 {
        font-size: 36px;
      }

      & p {
        margin-top: 5px;
        font-size: 18px;
      }
    }

    .speaker-info {
      .speaker-name {
        font-size: 30px;
      }

      .speaker-github-username {
        font-size: 18px;
      }
    }
  }

  @media (601px <= width <= 764px) {
    .ticket {
      height: 275px;
      padding-inline: 2em;
    }

    h2 {
      font-size: 42px;
    }

    .confirmation-paragraph {
      font-size: 26px;
    }
  }

  /* -- */

  @media (765px <= width <= 2200px) {
    .ticket {
      height: 280px;
      padding: 1.5rem;
    }

    .wrap {
      gap: 1.5rem;
    }

    h2 {
      font-size: 60px;
      letter-spacing: -1px;
      font-weight: 800;
      line-height: 1.1;
    }

    .confirmation-paragraph {
      font-size: 24px;
      width: 40ch;
      margin-inline: auto;
      line-height: 1.2;
    }

    .event-info {
      & img {
        width: 40px;
      }

      & h3 {
        font-size: 40px;
      }

      & p {
        line-height: 1.2;
        font-size: 18px;
      }
    }

    .speaker-info {
      img {
        width: 80px;
      }

      .speaker-name {
        font-size: 30px;
      }
      .speaker-github-username {
        font-size: 20px;
        margin-top: 8px;
        line-height: 1.2;
      }
    }

    .ticket-code {
      font-size: 30px;
    }
  }
</style>
