---
import AvatarUpload from "./AvatarUpload.astro";
---

<section class="form-wrapper">
    <form
        class="form"
        method="post"
        action="/api/generate-ticket"
        enctype="multipart/form-data"
    >
        <AvatarUpload />
        <div class="input-wrapper">
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" name="fullname" />
        </div>
        <div class="input-wrapper">
            <label for="email">Email Adress</label>
            <input
                type="text"
                name="email"
                id="email"
                placeholder="example@email.com"
            />
        </div>
        <div class="input-wrapper">
            <label for="githubuser">Github Username</label>
            <input
                type="text"
                name="githubuser"
                id="githubuser"
                placeholder="@yourusername"
            />
        </div>

        <button type="submit" class="btn btn-primary">Generate My Ticket</button
        >
    </form>
</section>

<style>
    .form-wrapper {
        margin-top: 2rem;
        max-width: 530px;
        margin-inline: auto;
    }

    .form {
        padding-bottom: 5rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 1.5rem;
        label {
            font-weight: 500;
        }
    }

    .input-wrapper {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.75rem;

        input[type="text"] {
            outline: none;
            min-height: 55px;
            background-color: var(--neutral-100);
            border: 1px solid var(--neutral-500);
            padding: 1em;
            border-radius: 0.75rem;
            color: var(--neutral-300);
            backdrop-filter: blur(2px);
            font-size: 18px;
        }

        input::placeholder {
            color: var(--neutral-300);
        }
    }

    .btn-primary {
        font-size: 18px;
        font-weight: 800;
        background-color: var(--orange-500);
        border-radius: 12px;
        color: var(--neutral-900);
        padding: 0.75em 1.5em;
    }

    .input-wrapper.error input[type="text"] {
        border: 1px solid var(--orange-500);
    }

    .input-wrapper input[type="text"]:hover {
        background-color: var(--neutral-150);
        cursor: pointer;
    }

    .input-wrapper input[type="text"]:focus {
        outline: 2px solid var(--neutral-300);
        outline-offset: 2px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        background-color: var(--neutral-100) !important;
        -webkit-box-shadow: 0 0 0 1000px var(--neutral-100) inset !important;
        transition: all 5000s ease-in-out 0s;
        color: hsl(252, 6%, 83%) !important;
    }

    @media (width >= 1024px) {
        .btn-primary {
            box-shadow: 0px 0px 0px var(--orange-500);
            transition: background 0.2s ease;
        }

        .btn-primary:hover {
            background-color: var(--orange-700);
            box-shadow: 0px 6px 0px var(--orange-500);
        }

        .form {
            padding: 0;
        }
    }
</style>