<header>
    <div>
        <img src="/assets/images/logo-full.svg" alt="">
    </div>
</header>

<style>

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-block: 2em;
    }

    img {
        width: 175px;
    }
</style>