---
import "../styles/global.css";
import Header from "../components/Header.astro";

interface Props {
    pageTitle?: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>David Sibrian {pageTitle ? "| " + pageTitle : ""}</title>
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
    </body>
</html>

<style is:global>
    :root {
        --neutral-0: hsl(0, 0%, 100%);
        --neutral-100: hsla(0, 0%, 100%, 0.096);
        --neutral-150: rgba(255, 255, 255, 0.2);
        --neutral-300: hsl(252, 6%, 83%);
        --neutral-500: hsl(245, 15%, 58%);
        --neutral-700: hsl(245, 19%, 35%);
        --neutral-900: hsl(248, 70%, 10%);

        --orange-500: hsl(7, 88%, 67%);
        --orange-700: hsl(7, 71%, 60%);
        --grad-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
    }

    html {
        font-family: "Inconsolata", sans-serif;
        background-image: url("/assets/images/background-mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--neutral-0);
    }

    body {
        background-image: url("/assets/images/pattern-lines.svg");
        background-position: center;
        background-size: cover;
    }

    main {
        width: 90%;
        max-width: 1200px;
        margin-inline: auto;
    }

    .btn {
        border: none;
        outline: none;
        border-radius: 12px;
        cursor: pointer;
        padding: 1em;
        color: var(--neutral-900);
        font-weight: 800;
        font-size: 18px;
        background-color: var(--orange-500);
    }

    .btn:focus {
        outline: 2px solid var(--neutral-0);
        outline-offset: 2px;
    }
</style>
